.vs/
x64/
packages/
CoverageReport-*
/Build
/include/ghassanpl/.parsing
/Output
/include/ghassanpl/buffers
/include/ghassanpl/mmap - Copy.h
/vcpkg_installed/x64-windows
/.vscode/settings.json
include/ghassanpl/geometry/not-ready/
include/ghassanpl/geometry/old/
